<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Skillza Curriculum</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="logo" href="#page-top"><img src="assets/img/logo.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#services">Curriculum</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Learning Tools</a></li>
                        <li class="nav-item"><a class="nav-link" href="#paths">Paths</a></li>
                        <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Learn With Us</div>
                <div class="masthead-heading text-uppercase">Curriculum</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Explore Curriculum</a>
            </div>
        </header>

        <!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Curriculm</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                        <i class="fa-stack-2x text-primary"></i>
                            <i class="fa-brands fa-html5"></i>
                        </span>
                        <h4 class="my-3">Web Development</h4>
                        <p class="text-muted"></p>
                    </div>
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                    <i class="fa-stack-2x text-primary"></i>
                    <i class="fa-brands fa-apple"></i>
                        </span>
                        <h4 class="my-3">Mobile Applications</h4>
                        <p class="text-muted"></p>
                    </div>
                    <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                   
                    <a class="logo" href="#page-top"><img src="assets/img/scratch 2.png" alt="..." /></a>
                        </span>
                        <h4 class="my-3">Game Design</h4>
                        <p class="text-muted"></p>
                    </div>
                </div>
            </div>
        </section>


        <!-- Portfolio Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Learning Tools</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/js.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"></div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 2-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/bootstrap.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"></div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 3-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/html css js.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"></div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/rails.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"></div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                        <!-- Portfolio item 5-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/w3schools.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"></div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <!-- Portfolio item 6-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="assets/img/code.org.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading"></div>
                                <div class="portfolio-caption-subheading text-muted"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


            <section>
            <div class="container">
        
            <table class="table table-dark text-info table-bordered table-hover table-responsive">
                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">1, 2</th>
                <th align="center"></th>
                </tr>
                </thead>
                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>
                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
                
                </tr>
                </thead>
                <tbody>
                <tr>
                
                <td align="center">01</td>
                <td align="center">Game Design </td>
                <td align="center">Introduction to Scratch JR </td>
                <td align="center">•	Develop an understanding of the importance of programming in daily life <br>
                •	Movement Blocks <br>
                •	Reset Button
                </td>
                <td align="center"><a href="https://www.scratchjr.org">Scratch Jr</a></td>
                
                </tr>
                <tr>
                <td align="center">02</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Backgrounds</td>
                <td align="center">Students will learn how to select a background for their project and how to use the script on Green Flag triggering block to give starting conditions for their scripts</td>
                <td align="center"><a href="https://www.scratchjr.org/">Scratch Jr</a></td>
                
                </tr>
                <tr>
                <td align="center">03</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">New Charaters</td>
                <td align="center">Students will add multiple characters to their projects and learn how to start editing and deleting</td>
                <td align="center"><a href="https://www.scratchjr.org/">Scratch Jr</a></td>
                
                </tr>
                <tr>
                <td align="center">04</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Sound and Wait block</td>
                <td align="center">Students will learn how to record sound and play it back while the character is moving. <br> •	Recording sounds <br>
                •	Become more familiar with motion blocks <br>
                •	Wait block <br>
                </td>
                <td align="center"><a href="https://www.scratchjr.org/">Scratch Jr</a></td>
                
                </tr>
                <tr>
                <td align="center">05</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Triggering Action Block </td>
                <td align="center">Students will see the simplest way that one character can trigger action for another character. <br> Characters interact with each other.</td>
                <td align="center"><a href="https://www.scratchjr.org/">Scratch Jr</a></td>
                
                </tr>
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">3</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
                
                </tr>
                </thead>

                <tbody>

                <td align="center">1</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Introduction to Scratch</td>
                <td align="center">•	Develop an understanding of the importance of programming in daily life <br>
                •	Apply computational thinking to tackle problems <br>
                •	Create a Scratch account <br>
                •	Build a script to produce an animated scene <br>
                •	Recognize that a script is run from top to bottom and the sequence affects the action <br>
                •	Run a script or program <br>
                </td>
                <td align="center"><a href="https://scratch.mit.edu/">Scratch</a></td>
              
                </tr>
                <tr>
                <td align="center">2</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Scratch interface</td>
                <td align="center">•	Understand the XY coordinates system and the stage size. <br>
                •	Practice experimenting and iterating while creating projects <br>
                •	Customize the stage <br>
                •	Control motion and direction in the XY coordinate system <br>
                </td>
                <td align="center"><a href="https://scratch.mit.edu/">Scratch</a></td>
               
                </tr>
                <tr>
                <td align="center">3</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">2D drawing in Scratch</td>
                <td align="center">•	Pen commands <br>
                •	Develop a list of strategies to draw geometric shapes <br>
                •	Create 2D shapes 
                </td>
                <td align="center"><a href="https://scratch.mit.edu/">Scratch</a></td>
                
                </tr>
                <tr>
                <td align="center">4</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Aquarium project</td>
                <td align="center">•	be introduced to the computational thinking concepts of loops, events, and parallelism! <br>
                •	Become more familiar with the concepts of sequence! <br>
                •	Experiment with new blocks in the Events, Control, Sound, and Looks categories
                </td>
                <td align="center"><a href="https://scratch.mit.edu/">Scratch</a></td>
                
                </tr>

                <tr>
                <td align="center">5</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Animation</td>
                <td align="center">•	Become more familiar with the computational concepts of sequence and loops by experimenting with Control blocks! <br>
                •	Be able to explain the difference between sprites and costumes! <br>
                •	Practice experimenting and iterating through developing an animation project
                </td>
                <td align="center"><a href="https://scratch.mit.edu/">Scratch</a></td>
                
                </tr>
                <tr>
                <td align="center">6</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Animation part 2</td>
                <td align="center">Students express their creativity be creating a project that combines animation and music by working on a self-directed music video project <br> Gain more familiarity with sprites and costumes</td>
                <td align="center"><a href="https://scratch.mit.edu/">Scratch</a></td>
                
                </tr>
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">4</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
               
                </tr>
                </thead>

                <tbody>
                <tr>
                <td align="center">1</td>
                <td align="center">Interactive animations and Games<a href="#"></a></td>
                <td align="center">Variables</td>
                <td align="center">Variable - A label for a piece of information used in a program.<br> <br>New Code<br><br>
                Declare and assign a value to a variable
                Declare a variable</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
            
                </tr>
                <tr>
                <td align="center">2</td>
                <td align="center">Interactive animations and Games<a href="#"></a></td>
                <td align="center">What is Sprites ?</td>
                <td align="center"><br>
                var sprite = createSprite(x, y, width, height) <br> drawSprites()
                <br> <br> Category:Game Lab <br><br>
                
                drawSprites is usually used along with background() within function draw() {}. <br> The drawing order is determined by the order the sprites were created, which is stored and can be altered in sprite.depth.
                
                <br> <br> Examples <br><br>
                var sprite = createSprite();
                drawSprites();
                Spinning Square
                
                
                <br> Animate a spinning square using the draw loop, background, and drawSprites commands.
                var sprite = createSprite(200,200);
                function draw() {
                  background("white");
                  sprite.rotation = sprite.rotation + 10;
                  drawSprites();
                } <br>
                <br>Syntax<br>
                drawSprites()</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>

                <tr>
                <td align="center">3</td>
                <td align="center">Interative animationas and Games <a href="#"></a></td>
                <td align="center">Drawing in Game lab</td>
                <td align="center">Kids will understand where to locate a recangle or an ellipse and how to color them <br> fill(color)<br> ellipse(x, y, w, h) <br> rect(x, y, w, h)</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>

                <tr>
                <td align="center">4</td>
                <td align="center">Interative animationas and Games <a href="#"></a></td>
                <td align="center">Keyboard Input</td>
                <td align="center">Kids will use keyboard to change a sprite<br><br>New Code<br>
                keyDown(code)</td>
                <td align="center"><a href="https://studio.code.org/courses">code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">5</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Mouse Input</td>
                <td align="center">kids will understand how to use a mouse in changing a sprite<br> <br>New Code<br><br>
                keyWentDown(code)<br>
                keyWentUp(code)<br>
                mouseDidMove()<br>
                mouseDown(button)<br>
                mouseWentDown(button)<br>
                mouseWentUp(button)<br>
                If/else statement <br></td>
                <td align="center"><a href="https://studio.code.org/courses"></a></td>
              
                </tr>
                <tr>
                <td align="center">6</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Project: Interactive Card</td>
                <td align="center">Kids can apply what they learnt trhrough the "Flower Card Project" <br><br> It isvery useful to see all blocks used here</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">7</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Mini-Project</td>
                <td align="center">Assign kids a mini-project to see how they are interating with the course, test their skills to create sprites and variables</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                <tr>
                <td align="center">8</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Velocity</td>
                <td align="center">Students will learn "Sprite Movement" <br> How to move a sprite in four directions and with selctive speed; ex: slow speed or faster. <br> <br> New Code <br>
                sprite.rotationSpeed<br>
                sprite.velocityX<br> 
                sprite.velocityY <br> <br> Velocity in the positive x direction of the sprite in pixels per frame.

                <br> A positive value will move the sprite to the right, a negative value will move to the left. <br> Must be used with the draw() {} function containing a drawSprites().
                <br><br>Vibration<br>
                Make a sprite vibrate by alternating velocityX positive and negative.
                <br> The default velocityX is 0. <br> <br> Syntax<br>
                sprite.velocityX </td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>

                <tr>
                <td align="center">9</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Collision Detection</td>
                <td align="center">New Code<br>
                sprite.isTouching(target)
                sprite.debug</td>
                <td align="center"><a href="https://studio.code.org/courses"></a></td>
               
                </tr>
                <tr>
                <td align="center">10</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Frog Project</td>
                <td align="center">In this game, the player uses the up arrow to make the frog jump. The frog must avoid the mushrooms while trying to get the flies. Every fly scores one point, and hitting the mushrooms makes the player health go down. When the player health hits zero, the game is over.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                <tr>
                <td align="center">11</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Flyer Game</td>
                <td align="center">In this game, the player tries to collect coins, and the rocks push the player across the screen. When the player goes off the screen, the game is over. <br> <br> kids will apply their learnt skills to make this game</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">12</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Functions</td>
                <td align="center">New Code<br>
                Define a function
                Call a function</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                <tr>
                <td align="center">13</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Game Design Process</td>
                <td align="center"> Defend Your Cake <br>
                Kids will learn here to make a defender game by the end of this lesson. <br> <br> To defend the cake, move the alien with arrow keys to block the lady bugs and push them into the water.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>

                <tr>
                <td align="center">14</td>
                <td align="center">Interative animationas and Games<a href="#"></a></td>
                <td align="center">Using the Game Design Process</td>
                <td align="center">Platform Jumper<br><br>
                This game is an example of a platform jumper. <br> <br> Press "Run" to play it. <br> You can make the alien jump with the up arrow, and move it to the left and right with the arrow keys. <br> You score by collecting stars, and if you score high enough, the background will change.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                <tr>

                <tr>
                <td align="center">1</td>
                <td align="center">Game Design<a href="#"></a></td>
                <td align="center">Challenges at Levels 19 and 20 of lesson "using the Game Design Process"  </td>
                <td align="center">Kids will choose a challenge and do it by themselves <br><br> Plane Jumper <br> or <br> Bunny Jumper</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">5</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
               
                </tr>
                </thead>

                <tbody>
                <tr>
                <td align="center">1</td>
                <td align="center">Mobile App Development<a href="#"></a></td>
                <td align="center">Introduction to Apps</td>
                <td align="center">Understand examples of Applications</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
              
                </tr>

                <tr>
                <td align="center">2</td>
                <td align="center">Mobile App Development<a href="#"></a></td>
                <td align="center">Introduction to Design Mode</td>
                <td align="center">Kidls will learn how to create screens, buttons, images, text, and more inside of App Lab.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">3</td>
                <td align="center">Mobile App Development<a href="#"></a></td>
                <td align="center">Intro to Programming</td>
                <td align="center">Kids will get familiar with what programs are and how they run by using and modifying several working apps.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">4</td>
                <td align="center">Mobile App Development<a href="#"></a></td>
                <td align="center">Debugging</td>
                <td align="center">Kids will learn how to identify and fix problems in code through the debugging process. </td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">5</td>
                <td align="center">Mobile App Development<a href="#"></a></td>
                <td align="center">Project - Designing an App</td>
                <td align="center">Kids will develop an app by themselves</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">6</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
               
                </tr>
                </thead>

                <tbody>
                <tr>
                <td align="center">1</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Variables Explore</td>
                <td align="center">Understand what is a variable , why we are using variables in application and how we can create.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>

                <tr>
                <td align="center">2</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Variables Investigate</td>
                <td align="center">Investigate and modify sample apps that use variables and learn common programming patterns with variables.</td>
               
                </tr>
                <tr>
                <td align="center">3</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Variables Practice</td>
                <td align="center">Practice programming with variables through a set of programming puzzles.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                <tr>
                <td align="center">4</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Variables Make</td>
                <td align="center">Practice making an app that uses variables and programming patterns with variables.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">5</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Conditionals Explore</td>
                <td align="center">Develop a mental model for how computers make decisions.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">6</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Conditionals Invesigate</td>
                <td align="center">Investigate and modify sample apps that use conditionals and learn common programming patterns with conditionals.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">7</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Conditionals Practice</td>
                <td align="center">Practice programming with conditionals through a set of programming puzzles.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">8</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Conditionals Make</td>
                <td align="center">Practice making an app that uses conditionals and programming patterns with conditionals.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                </tr>
                <tr>
                <td align="center">9</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Conditionals Explore</td>
                <td align="center">Develop a mental model for how computers make decisions.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
               
                </tr>
                <tr>
                <td align="center">10</td>
                <td align="center">Variables, Conditionals and Functions<a href="#"></a></td>
                <td align="center">Conditionals Explore</td>
                <td align="center">Develop a mental model for how computers make decisions.</td>
                <td align="center"><a href="https://studio.code.org/courses">Code.org</a></td>
                
                <tr>
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">7</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>
                
                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
                
                </tr>
                </thead>
                <tbody>
                <tr>
                <td align="center">1</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">Course Introduction <br> What is Front End ?
                </td>
                <td align="center">What students going to learn in this course and the final output</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>

                <tr>
                <td align="center">2</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML basic elements<br> HTML attributes 
                </td>
                <td align="center">Create HTML website and add elements and attributes like heading, paragraphs, images and hyperlinks</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">3</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML styles <br> HTML formatting
                </td>
                <td align="center">Add some styles to the elements using inline CSS like background color, font size and color; bold, italic, underlined and marked text. </td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">4</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML lists </td>
                <td align="center">Create ordered, unordered and description lists</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">5</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML Images</td>
                <td align="center">Students will understand how to insert images</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">6</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML tables</td>
                <td align="center">Create tables with different styles and formats</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">7</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML forms</td>
                <td align="center">Create forms with multiple features</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">8</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML emojis</td>
                <td align="center">Create different kinds of emojis</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">9</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">HTML divisions, classes and ids</td>
                <td align="center">Divide the webpage into divisions and assign classes and ids to the elements  </td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">10</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">Assessment 1</td>
                <td align="center">Know the students level of understanding till present</td>
                <td align="center"><a href="https://www.w3schools.com/html">W3schools</a></td>
               
                </tr>
                <tr>
                <tr>
                <td align="center">11</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">CSS</td>
                <td align="center">Add styles using internal CSS code and external CSS stylesheet</td>
                <td align="center"><a href="https://www.w3schools.com/css">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">12</td>
                <td align="center">HTML/CSS<a href="#"></a></td>
                <td align="center">Final Project & Presentation</td>
                <td align="center">Divide the class into groups and explain what are the requirements of the final project which is website and do a class presentation </td>
                <td align="center"><a href="https://www.w3schools.com/howto">W3schools</a></td>
              
                </tr>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 2</th>
                <th align="center">JavaScript</th>
                <th align="center"></th>
                </tr>

                <tr>
                <td align="center">1</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Course Introduction <br>
                Why JavaScript?  
                </td>
                <td align="center">What students going to learn in this course and the final output</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">2</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Functions and Events <br>
                Outputs
                  
                </td>
                <td align="center">How to create an internal and external JS file 
                How to implement a function without parameters
                Learn different ways to display data
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">3</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">  Statements <br>
                Variables <br>
                Data Types <br>
                
                </td>
                <td align="center">Learn different JS statements like values, operators, expressions keywords and comments
                Learn 4 ways to declare a variable
                Learn different types of variables and how to assign the right type for each variable according to the code
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">4</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center"> Arithmetic Operators <br>
                Assignment Operators 
                
                </td>
                <td align="center">How to use the arithmetic and assignment operators </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">5</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Functions <br>
                Objects  
                </td>
                <td align="center">How to implement and call a function with one or more parameter
                What is an object and how to implement it.
                How to use this keyword
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">6</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Strings <br>
                Strings Methods 
                </td>
                <td align="center">How to manipulate strings using the predefined methods</td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">7</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Numbers <br>
                Number Methods  
                </td>
                <td align="center">How to handle numbers using the predefined methods</td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">8</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Arrays <br>
                Array Methods 
                </td>
                <td align="center">What is an array
                How to use arrays data 
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">9</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Conditions and Loops 
                </td>
                <td align="center">How to use conditional statements and different types of loops 
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">10</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Assessment 1
                </td>
                <td align="center">Know the students’ level of understanding so far
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">11</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Final Project
                </td>
                <td align="center">Divide the class into groups and explain what are the requirements of the final project which is a dynamic website
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>

                <tr>
                <td align="center">12</td>
                <td align="center">JS<a href="#"></a></td>
                <td align="center">Project Presentation
                </td>
                <td align="center">Students will present their final project in front of their classmates, parents and teachers.
                </td>
                <td align="center"><a href="#">W3schools</a></td>
              
                </tr>
                </thead>
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">8</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
               
                </tr>
                </thead>

                <tbody>
                <tr>
                <td align="center">1</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Course Introduction<br>What is a database?
                </td>
                <td align="center">What students going to learn in this course and the final output</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">2</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Table creation</td>
                <td align="center">Create a database with multiple tables</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
              
                </tr>
                <tr>
                <td align="center">3</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Data selections</td>
                <td align="center">Extract data from the database tables</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
               
                </tr>
                <td align="center">4</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Data selection under one or many conditions</td>
                <td align="center">How to apply a filter on the data selection
                How to apply many filters on data selection using AND, OR and NOT operators
                </td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">5</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Data sorting</td>
                <td align="center">How to display the data sorted ascending and descending   </td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">6</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Updating and deleting tables</td>
                <td align="center">How to update already implemented databases and how to delete some tables </td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">7</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">SQL predefined functions</td>
                <td align="center">Select maximum, minimum, average, count and sum using SQL functions</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">8</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Data selection under some constraints</td>
                <td align="center">How to apply one or many constraints using the LIKE operator</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">w3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">9</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Assessment 1</td>
                <td align="center">Know the students level of understanding so far</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3school</a></td>
             
                </tr>
                <tr>
                <td align="center">10</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Multiple tables connections</td>
                <td align="center">How to select data from connected tables using the inner, outer, left and right joins</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">11</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Final Project</td>
                <td align="center">Divide the class into groups and explain what are the requirements of the final project which is the database of a certain entity </td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">12</td>
                <td align="center">SQL<a href="#"></a></td>
                <td align="center">Project presentation</td>
                <td align="center">Students will present their final project in front of their classmates, parents and teachers</td>
                <td align="center"><a href="https://www.w3schools.com/sql/">W3schools</a></td>
                </tr>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 2</th>
                <th align="center">Python</th>
                <th align="center"></th>
                </tr>

                <tr>
                <td align="center">1</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Course Introduction</td>
                <td align="center">What students going to learn in this course and the final output</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">2</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Variables</td>
                <td align="center">What are variable and how to assign values to variable</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">3</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Data Types</td>
                <td align="center">Different types of variables and the usage of each type</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">4</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Numbers and Strings</td>
                <td align="center">Differentiate between the three numeric types and identify the predefined methods used for string manipulation </td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">5</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Operators</td>
                <td align="center">Different types of operators and how to use each one of them</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">6</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Lists</td>
                <td align="center">What is a list and its different applications</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">7</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Tubles</td>
                <td align="center">What is a tuple and the differences between it and the list</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">8</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">If ... Else</td>
                <td align="center">How to include conditional if in the code and what is the logic behind it</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">9</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Loops</td>
                <td align="center">Different types of loops and how to use them logically </td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">10</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Assessment 1</td>
                <td align="center">Know the students’ level of understanding </td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">11</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Final Project</td>
                <td align="center">Divide the class into groups and explain what are the requirements of the final project which is a game  </td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center">12</td>
                <td align="center">Python<a href="#"></a></td>
                <td align="center">Final Project</td>
                <td align="center">Students will present their final project in front of their classmates, parents and teachers.</td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>
                </thead>
                
                
                </tbody>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Grade</th>
                <th align="center">9</th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 1</th>
                <th align="center"></th>
                <th align="center"></th>
                </tr>
                </thead>

                <thead>
                <tr>
                <th align="center">Lesson Number</th>
                <th align="center">Course Name</th>
                <th align="center">Sub-Lesson Name</th>
                <th align="center">Learning Goal</th>
                <th align="center">Website Name</th>
               
                </tr>
                </thead>

                <tbody>
                <tr>
                <td align="center">1</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Course Intro<br> What is OOP?</td>
                <td align="center">What students going to learn in this course and the final output</td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">2</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Variables and data types<br>Operators
                </td>
                <td align="center">Learn what is a variable and its different data types
                Learn arithmetic operator, assignment operator, comparison operators and logical operators
                </td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">3</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Conditional IF<br>Switch
                </td>
                <td align="center">How to use and code if condition and the switch </td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">4</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Loops</td>
                <td align="center">Learn the logic behind loops and its different application like the for loop and while loop</td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">5</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Arrays</td>
                <td align="center">Learn what is an array and how to use it for data abstraction </td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
               
                </tr>
                <tr>
                <td align="center">6</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Methods</td>
                <td align="center">Learn what is a method and how to use it in java </td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">7</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Classes and Objects</td>
                <td align="center">How to implement a class and to create an instance object from this class</td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
              
                </tr>
                <tr>
                <td align="center">8</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Encapsulation Inheritance
                </td>
                <td align="center">What are encapsulation and inheritance; how to apply them and why they are important as one of the main OOP features</td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
               
                </tr>

                <tr>
                <td align="center">9</td>
                <td align="center"><a href="#"></a></td>
                <td align="center">Assessment 1</td>
                <td align="center">Know the students level of understanding so far</td>
                <td align="center"><a href="https://www.w3schools.com/java">w3schools</a></td>
                
                </tr>

                <tr>
                <td align="center">10</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">GuI</td>
                <td align="center">How to create an interactive graphical user interface </td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">11</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Final Project</td>
                <td align="center">Divide the class into groups and explain what are the requirements of the final project which might be game or application or system to do a specific function</td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
                
                </tr>
                <tr>
                <td align="center">12</td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center">Project presentation</td>
                <td align="center">Students will present their final project in front of their classmates, parents and teachers.</td>
                <td align="center"><a href="https://www.w3schools.com/java">W3schools</a></td>
                
                </tr>

                <thead>
                <tr class="info">
                <th align="center"></th>
                <th align="center"></th>
                <th align="center">Term 2</th>
                <th align="center">Java</th>
                <th align="center"></th>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>

                <tr>
                <td align="center"></td>
                <td align="center">Java<a href="#"></a></td>
                <td align="center"></td>
                <td align="center"></td>
                <td align="center"><a href="#">W3schools</a></td>
                </tr>
                
                </thead>
                </tbody>
                </table>
        </div>
        </section>




            <!-- About-->
            <section class="page-section" id="paths">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Paths</h2>
                        <h3 class="section-subheading text-muted"></h3>
                    </div>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/github.webp" alt="..." /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Pair Programming</h4>
                                    <h4 class="subheading">Github</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted"></p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/frontend.png" alt="..." /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>HTML/CSS & More</h4>
                                    <h4 class="subheading">FrontEnd</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted"></p></div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/backend.png" alt="..." /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Learn Ruby on Rails</h4>
                                    <h4 class="subheading">BackEnd Developer</h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted"></p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/mobile app.png" alt="..." /></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Mobile App Design and Code </h4>
                                    <h4 class="subheading">Kids will learn simple mobile app design and code </h4>
                                </div>
                                <div class="timeline-body"><p class="text-muted"></p></div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>
                                    Game Design
                                    <br />
                                    Code.Org
                                    <br />
                                    Scratch!
                                </h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <!-- Team-->
            <section class="page-section bg-light" id="team">
                <div class="container">
                    <div class="text-center">
                        <h2 class="section-heading text-uppercase">Our Amazing Team</h2>
                        <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="assets/img/robot2" alt="..." />
                                <h4>Mohamed Mogy</h4>
                                <p class="text-muted">Robotics Engineer</p>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="assets/img/kid html photo" alt="..." />
                                <h4>Maya</h4>
                                <p class="text-muted">Games Design Instructor</p>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="team-member">
                                <img class="mx-auto rounded-circle" src="assets/img/kids web photo" alt="..." />
                                <h4>Nour Islam</h4>
                                <p class="text-muted">Computer Science Engineer</p>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                                <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 mx-auto text-center"><p class="large text-muted"></p></div>
                    </div>
                </div>
            </section>

        <!-- Clients-->
        <div class="py-5">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!"></a>
                    </div>
                    <div class="col-md-3 col-sm-6 my-3">
                        <a href="#!">></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Contact Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Skillza Learning</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Careers</a>
                        <a class="link-dark text-decoration-none" href="#!">Nov 7th 2022</a>
                    </div>
                </div>
            </div>
        </footer>
       
    </body>
</html>
